table {
	width: 100%;
  }
  
.label{
	font-size: larger;
	font-weight: 400;
	color: black;
}

th{
	color: black;
	font-size:small;
}

mat-header-cell {
	color: black;
	font-weight: 700;
	font-size: 13px;
}

.dialog {
	margin-top: 20px;
	padding: 20%;
}

.mr-right{
	margin-right: 20px;
}