<div class="container mt-4">
	<h2>Employee List</h2>
	<div class="search-div">
		<button mat-raised-button (click)="onCreate()">
			<mat-icon>add</mat-icon>Create
		</button>
		<mat-form-field class="search-form-field" floatLabel="never">
			<input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
			<button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
				<mat-icon>close</mat-icon>
			</button>
		</mat-form-field>
	</div>
	<div class="mat-elevation-z8">
		<mat-table [dataSource]="listData" matSort>
			<ng-container matColumnDef="userName">
				<mat-header-cell *matHeaderCellDef mat-sort-header>Username</mat-header-cell>
				<mat-cell *matCellDef="let element">{{element.userName}}</mat-cell>
			</ng-container>
			<ng-container matColumnDef="firstName">
				<mat-header-cell *matHeaderCellDef mat-sort-header>First Name</mat-header-cell>
				<mat-cell *matCellDef="let element">{{element.firstName}}</mat-cell>
			</ng-container>
			<ng-container matColumnDef="lastName">
				<mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
				<mat-cell *matCellDef="let element">{{element.lastName}}</mat-cell>
			</ng-container>
			<ng-container matColumnDef="email">
				<mat-header-cell *matHeaderCellDef mat-sort-header class="mr-4">Email</mat-header-cell>
				<mat-cell *matCellDef="let element" class="mr-right">{{element.email}}</mat-cell>
			</ng-container>
			<ng-container matColumnDef="birthDate">
				<mat-header-cell *matHeaderCellDef mat-sort-header class="ml-4">Birth Date</mat-header-cell>
				<mat-cell *matCellDef="let element" class="ml-4">{{element.birthDate}}</mat-cell>
			</ng-container>
			<ng-container matColumnDef="basicSallary">
				<mat-header-cell *matHeaderCellDef mat-sort-header>Basic Sallary</mat-header-cell>
				<mat-cell *matCellDef="let element">{{element.basicSallary}}</mat-cell>
			</ng-container>
			<ng-container matColumnDef="status">
				<mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
				<mat-cell *matCellDef="let element">{{element.status}}</mat-cell>
			</ng-container>
			<ng-container matColumnDef="group">
				<mat-header-cell *matHeaderCellDef mat-sort-header>Group</mat-header-cell>
				<mat-cell *matCellDef="let element">{{element.group}}</mat-cell>
			</ng-container>
			<ng-container matColumnDef="actions">
				<mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
				<mat-cell *matCellDef="let row">
					<button mat-icon-button (click)="onEdit(row)">
						<mat-icon>launch</mat-icon>
					</button>
					<button mat-icon-button color="warn" (click)="onDelete(row.$key)">
						<mat-icon>delete_outline</mat-icon>
					</button>
				</mat-cell>
			</ng-container>
			<ng-container matColumnDef="loading">
				<mat-footer-cell *matFooterCellDef colspan="6">
					Loading data...
				</mat-footer-cell>
			</ng-container>
			<ng-container matColumnDef="noData">
				<mat-footer-cell *matFooterCellDef colspan="6">
					No data.
				</mat-footer-cell>
			</ng-container>
			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
			<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
			<mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
			<mat-footer-row *matFooterRowDef="['noData']"
				[ngClass]="{'hide':!(listData!=null && listData.data.length==0)}">
			</mat-footer-row>
		</mat-table>
		<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
	</div>

</div>