<mat-toolbar>
	<span>{{service.form.controls['$key'].value?"Edit Employee":"New Employee"}}</span>
	<span class="fill-remaining-space"></span>
	<button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
		<mat-icon>clear</mat-icon>
	</button>
</mat-toolbar>
<div class="container mt-4">
	<form [formGroup]="service.form" (ngSubmit)="onSubmit()">
		<mat-grid-list cols='1' rowHeight="600px">
			<mat-grid-tile>
				<div class="controles-container">
					<input type="Hidden" formControlName="$key">
					<mat-form-field>
						<input formControlName="userName" matInput placeholder="Username">
						<mat-error *ngIf="service.form.controls['userName'].errors?.required">This field is mandatory
						</mat-error>
						<mat-error *ngIf="service.form.controls['userName'].errors?.minlength">Minimum 8 character
							needed!
						</mat-error>
					</mat-form-field>
					<mat-form-field>
						<input formControlName="firstName" matInput placeholder="First Name">
						<mat-error>This field is mandatory</mat-error>
					</mat-form-field>
					<mat-form-field>
						<input formControlName="lastName" matInput placeholder="Last Name">
						<mat-error>This field is mandatory</mat-error>
					</mat-form-field>
					<mat-form-field>
						<input formControlName="email" matInput placeholder="Email">
						<mat-error>Invalid e mail address</mat-error>
					</mat-form-field>
					<mat-form-field>
						<input formControlName="birthDate" matInput [matDatepicker]="picker" placeholder="Birth Date">
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker #picker></mat-datepicker>
						<mat-error>This field is mandatory</mat-error>
					</mat-form-field>
					<mat-form-field>
						<input type="number" formControlName="basicSallary" matInput placeholder="Basic Sallary">
						<mat-error>This field only numbers</mat-error>
					</mat-form-field>
					<mat-form-field>
						<mat-select formControlName="group" placeholder="Group">
							<mat-option>None</mat-option>
							<ng-container *ngFor="let group of Groups">
								<mat-option value="{{group.value}}">{{group.value}}</mat-option>
							</ng-container>
						</mat-select>
					</mat-form-field>
					<mat-form-field>
						<mat-select formControlName="status" placeholder="Status">
							<mat-option>None</mat-option>
							<ng-container *ngFor="let status of Status">
								<mat-option value="{{status.value}}">{{status.value}}</mat-option>
							</ng-container>
						</mat-select>
					</mat-form-field>
					<div>
						<button class="mr-3" mat-raised-button color="primary" type="submit"
							[disabled]="service.form.invalid ">Submit</button>
						<button mat-raised-button color="warn" (click)="onClear()">Clear</button>
					</div>

				</div>
			</mat-grid-tile>
		</mat-grid-list>
	</form>
</div>